@media (max-width:480px){


    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght600;800&display=swap');

    *{
        box-sizing: border-box;
        margin: 0;
        padding:0;
        
      
     
        
    }
    
    html, body{
        
        overflow-x: hidden;

        
    }
    
    h3{
        display:block;
        font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    }
    
    ol li{
        list-style:none!important;
    }
    ul li{
        list-style:none!important;
    }
    
    
    /*
    **
    **Header **
    **
    ***/
    
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:5vh;
        width:100vw;
        padding-left:  5vw;
        background:rgba(243, 199, 5, 0.705);
        
    }
    
    header img{
        
        width: 7%;
        justify-content: left;
        
    
    }
    
    
    li, a {
        color:rgb(0, 0, 0);
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        font-size: 14px;
      
    
    }
    .logo{
        cursor: pointer;
    }
    
    .nav-links{
        right:0;
        list-style: none;
        justify-content: right;
        align-items: right;
        
    }
    
    .nav-links li{
        display: inline-block;
        padding: 0 2vw;
        
        
      
      
        
    }
    
    
    .nav-links li a:hover{
        color: #ff0000;
    
        transition:   all 0.2s ease 0s;
    }
    
    
    /*
    **
    **Into Section **
    **
    ***/
    
    
    
    .intro-container{
     
       background-repeat: no-repeat;
       background-position: center;
       background: rgb(36,37,42);
       background: linear-gradient(180deg, rgba(36,37,42,1) 96%, rgba(255,255,255,1) 98%);
       width:100vw;
        height: 96vh;

    
    }
    
    .intro-info{
        position: absolute;;
        width:80vw;
        top:65vh;
        left: 2vw;
        
    
    
    
    }
    
    .intro-info h1, #nikon_model{
    
        color:rgba(243, 199, 5,.705);
    
    }
    
    .intro-info p{
    
        color:white;
    
     }
    .intro-info h1{
    
     
        position: relative;
        font-weight: 800;
        font-size: 2.886em;
        font-family: 'Open Sans', sans-serif;
     
    
    }
    
    .intro-info h1 p{
        display:inline;
        font-family: 'Cinzel', serif;
    }
    
    #nikon-cam{
        width:auto;
        max-height:70vw;
        
        margin-right: 10vw;
        margin-top: 8vh;
       
        
       
    
    }
    
    
   
    /*
    **
    **Carousel **
    **
    ***/
    
    
    .carousel{
    background:white;
    }
    .carousel-wrap{
    
        position:relative;
        height:40vh;
        width:80%;
        margin:0 auto;
    
    
    }
    
    .carousel_image{
        width:90%;
        height:auto;
        object-fit:fill;
        
    
    
    }
    
    
    .carousel_track-container{
     background:transparent;
        width:70vw;;
        height:40vh;
    
        position:relative;
    
        margin-left: 5vw;
        margin-top: 5vh;
overflow: hidden;
     
    }
    
    
    
    
    .carousel_track{
        padding:0;
        margin-left:10vw;
       align-content:center;
        justify-items: center;
        align-items: center;
        z-index:11 !important;
    }
    
    .carousel_track ul{
        list-style-type:none;
    }
    
    .carousel_slide{
       
        top:10vh;
        bottom:0;
        left:20vw;
        width:60vw;
         display:none;
       
       z-index: 100;
       transition: transform .5s, opacity .5s, z-index .5s;
    
    }
    
    .carousel_slide.active{
        display:block;
        z-index:900;
    }
    
    
    /* Set 'z-index' to sit behind our '.active' item. */
    .carousel_slide .prev,
    .next {
      z-index: 800;
    }
    
    /* Translate previous item to the left */
    .carousel__photo.prev {
      transform: translateX(-100%);
    }
    
    /* Translate next item to the right */
    .carousel__photo.next {
      transform: translateX(100%);
    }
    
    
    .carousel_control{
        text-align: left;
    }
    
    .carousel_button{
        position: absolute;
        
      
        min-width:15vw;
        transform:translate(-50%);
        background:transparent;
        overflow: hidden;
        border:0;
        cursor: pointer;
        
    }
    
    .carousel_button--left{
     
        z-index:1;
        writing-mode :horizontal-tb;
        top:25%;
        left:5vw;
    }
    
    .carousel_button--right{
        writing-mode: horizontal-tb;
        right:-20vw;
        top:25%;
        z-index:999;
    }
    
    .carousel_buttom img{
        width:.1em;
    }
    
    
    .carousel_nav{
    
        display:flex;
        justify-content: center;
        padding: 10px 0 ;
        
    
    }
    
    .carousel_indicator{
        border:0;
        border-radius:50%;
        width:15px;
        height:15px;
        background: rgba(255, 255, 255, 0.3);
        margin: 0 12px;
        display:none
        
    }
    
    
    .current-slide{
        background: rgba(243, 199, 5, 0.568);
        display:none;
    }
    
    
    
    /* ABOUT SECTION HERE  */
    .about{
        width:100vw;
        margin:0;
        padding:0;
        line-height: 1.7em;
        text-align: center;
        -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .about-content{
        width:85vw;
        margin-left:8vw;
        text-align: center

        
    }
    
    .about-content h3{
        font-size: 2.67em;
        margin: 0px 0px 15px;
        font-weight: 300;
        line-height: 1.2em;
        

    
    }
    
    
    .about-description{
       text-align: center;
        font-size: 1.167em;;
     
        margin-top:15px;
        
        line-height: 1.67;
        
    }
    

    
    


.about-overview{
    position:relative;
    

    overflow-x:scroll;
    overflow-y: hidden;
    text-align: center;


}
    .about-overview ul{
        
        white-space:nowrap;
      
        display:block;
        text-align: left;
        margin-inline-end: -28.19em;
        margin-right: -28.19em;
     

        
    }

    .about-overview ul::after{
        box-sizing: border-box;
        content:  " ";
        display: table;
    }


    .about-overview li{
        display:inline-block;
        padding-left:1.25em;
        padding-right:2.5em;
        width:auto;
        height:7em;
        border-right: .10em solid rgba(155, 127, 2, 0.705);;
 overflow:hidden;
    }

.about-overview li:last-child{

    border-right: none;
}
 
    


.about-overview-label{
   display:block;
    font-size: 2.5em;
    text-align: center;
    list-style: none;
    line-height:2.55em ;
    
}

.about-overview-feature{
    display:block;
    line-height: 1.32em;
    text-align: center;
    font-size: 1.16em;
    margin-top:-1.2em;
}
    
.about-overview-technology-list{
        
    display:flex;
    flex-direction: row;
    column-gap: 1.2em;
    margin-top: 2em;
    align-items: center;
    justify-content: center;;
        
     
    
}
    
    .thumbnail img{
        width:30vw;
        height:auto;
    }
    
    .thumbnail-4k img{
        width:4em;
    
    }
    
    
    
    
    
    /*
    **
    **Gallery Section **
    **
    ***/
    
    /* .Gallery{
        width:100%;
        height:auto;
    } */



}